@import './variables';

.profile-input{
  font-family: $font-family;
  font-size: 16px;
  padding: 12px;
  box-sizing: border-box;
  border: 2px solid $primary-color;
  border-radius: 6px;
  background-color: rgba($black, 0.85);
  color: $text-color-light;
  width: 100%;
  outline: none;
  transition:
          border-color 0.3s ease,
          box-shadow 0.3s ease;

  &:focus {
    border-color: $primary-hover-color;
    box-shadow:
            0 0 15px $primary-hover-color,
            0 0 30px $primary-hover-color;
  }

  &::placeholder {
    color: transparent;
  }

  &.input-small {
    padding: 8px;
    font-size: 14px;
  }

  &.input-medium {
    padding: 12px;
    font-size: 16px;
  }

  &.input-large {
    padding: 16px;
    font-size: 18px;
  }

  &-wrapper {
    position: relative;
    margin-bottom: 20px;
    width: 100%;

    &.is-focused .profile-input-label {
      top: -16px;
      font-size: 12px;
      color: $primary-hover-color;
    }
  }

  &-label {
    position: absolute;
    top: 12px;
    left: 12px;
    font-family: $font-family;
    color: rgba($white, 0.5);
    font-size: 16px;
    pointer-events: none;
    transition:
            top 0.3s ease,
            font-size 0.3s ease,
            color 0.3s ease;
  }

}
