@import "variables";

.profile-dropdown {
  &-wrapper {
    position: relative;
    display: inline-block;
    cursor: pointer;

    &--dark-mode {
      .profile-dropdown-menu {
        background-color: rgba($white, 0.85);
      }
      .profile-dropdown-item {
        color: $text-color-dark;
      }

      &:hover {
        background-color: rgba($white, 0.1);
        box-shadow: 0 0 10px $primary-hover-color;
      }
    }
  }
  &-trigger {
    font-family: $font-family;
    font-size: 16px;
    padding: 10px;
    color: $primary-color;
    border: 2px solid $primary-color;
    border-radius: 6px;
    background-color: transparent;
    transition: color 0.3s, border-color 0.3s;
    box-shadow: 0 0 15px $primary-color;

    &:hover {
      color: $primary-hover-color;
      border-color: $primary-hover-color;
      box-shadow: 0 0 20px $primary-hover-color;
    }
  }
  &-menu {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 8px 0;
    background-color: rgba($black, 0.85);
    border-radius: 6px;
    border: 2px solid $primary-color;
    box-shadow: 0 0 15px $primary-color, 0 0 30px $primary-color;
    z-index: 100;
    //opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    &.dropdown-top {
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%) translateY(10px);
    }

    &.dropdown-bottom {
      top: 100%;
      left: 50%;
      transform: translateX(-50%) translateY(-10px);
    }

    &.dropdown-left {
      right: 100%;
      top: 50%;
      transform: translateY(-50%) translateX(10px);
    }

    &.dropdown-right {
      left: 100%;
      top: 50%;
      transform: translateY(-50%) translateX(-10px);
    }
  }
  &-item {
    padding: 10px 20px;
    color: $text-color-light;
    font-family: $font-family;
    font-size: 14px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    text-align: center;

    &:hover {
      background-color: rgba($black, 0.1);
      box-shadow: 0 0 10px $primary-hover-color;
    }
  }
}

// Dropdown slide and fade animations
.dropdown-slide-enter-active, .dropdown-slide-leave-active {
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.dropdown-slide-enter-from, .dropdown-slide-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}