@import 'variables';

.profile-modal {
  background: rgba($white, 0.9); // Dark background for the modal
  padding: 24px;
  border-radius: 12px;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.7), 0 0 40px rgba(0, 255, 255, 0.4);
  max-width: 600px;
  width: 90%;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: scale(0.95); // Slightly smaller before transition

  // Neon border effect
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid $primary-color;
    box-shadow: 0 0 10px $primary-color, 0 0 20px $primary-color, 0 0 30px $primary-color;
    border-radius: 12px;
    z-index: -1;
    animation: pulseGlow 1.5s infinite alternate; // Neon pulse animation
  }

  &-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($white, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    &--dark-mode {
      background: rgba($black, .75); // Semi-transparent dark background

      .profile-modal {
        background-color: rgba($black, .9);

        &-content {
          color: $text-color-light;
        }
      }
    }
  }

  &-content {
    color: $text-color-dark;
    font-family: $font-family;
    text-align: center;
  }

  &-close {
    position: absolute;
    top: 12px;
    right: 12px;
    background: none;
    border: none;
    font-size: 18px;
    color: $primary-color;
    cursor: pointer;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $secondary-color;
    }
  }

}

@keyframes pulseGlow {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

// Modal fade transitions
.modal-fade-enter-active, .modal-fade-leave-active {
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.modal-fade-enter-from {
  opacity: 0;
  transform: scale(0.9);
}
.modal-fade-leave-to {
  opacity: 0;
  transform: scale(0.9);
}