$white: #ffffff;
$black: #1a1a1a;
$primary-color: #00bfff; // Deep Sky Blue
$secondary-color: #ff00ff; // Neon Pink
$primary-hover-color: #0099cc; // Darker Deep Sky Blue
$secondary-hover-color: #cc00cc; // Darker Neon Pink
$text-color-primary: $primary-color; // White for text to stand out on dark background
$text-color-secondary: $secondary-color;
$text-color-light: $white;
$text-color-dark: $black;
$background-color: transparent; // Transparent background

$font-family: 'Neuropol', sans-serif;
$font-size: 16px;
$border-radius: 8px;
$padding: 12px 24px;
$padding-y: 12px;
$padding-x: 24px;
$box-shadow-color: rgba($black, 0.5);
$neon-glow-color: rgba($white, 0.5); // Neon glow color
