@import "variables";
@import "fonts";

.profile-tooltip-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;

  &--dark-mode {
    .profile-tooltip {
      color: $text-color-dark;
      background-color: rgba($white, 0.85);
    }

    .tooltip-top .tooltip-arrow {
      border-color: rgba($white, 0.85) transparent transparent transparent;
    }
    .tooltip-right .tooltip-arrow {
      border-color: transparent rgba($white, 0.85) transparent transparent;
    }
    .tooltip-bottom .tooltip-arrow {
      border-color: transparent transparent rgba($white, 0.85) transparent;
    }
    .tooltip-left .tooltip-arrow {
      border-color: transparent transparent transparent rgba($white, 0.85);
    }
  }
}

.profile-tooltip {
  position: absolute;
  padding: 8px 12px;
  background-color: rgba($black, 0.85);
  color: $text-color-light;
  font-family: 'Orbitron', cursive;;
  font-size: 14px;
  border-radius: 6px;
  white-space: nowrap;
  box-shadow: 0 0 15px $primary-color, 0 0 30px $primary-color;
  z-index: 100;
  transition: opacity 0.3s ease, transform 0.3s ease;

  // Neon glow effect
  &::before {
    content: '';
    position: absolute;
    border-radius: 6px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid $primary-color;
    box-shadow: 0 0 10px $primary-color, 0 0 20px $primary-color;
    z-index: -1;
  }
}

// Tooltip Arrow
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

// Tooltip positions
.tooltip-top {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 8px;
  .tooltip-arrow {
    bottom: -12px;
    left: 50%;
    border-width: 5px 5px 0 5px;
    border-color: rgba($black, .85) transparent transparent transparent;
    transform: translateX(-50%);
  }
}

.tooltip-bottom {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 8px;
  .tooltip-arrow {
    top: -12px;
    left: 50%;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent rgba($black, .85) transparent;
    transform: translateX(-50%);
  }
}

.tooltip-left {
  right: 105%;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 8px;
  .tooltip-arrow {
    right: -12px;
    top: 50%;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent rgba($black, .85);
    transform: translateY(-50%);
  }
}

.tooltip-right {
  left: 105%;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 8px;
  .tooltip-arrow {
    left: -12px;
    top: 50%;
    border-width: 5px 5px 5px 0;
    border-color: transparent rgba($black, .85) transparent transparent;
    transform: translateY(-50%);
  }
}

// Fade-in and Fade-out transitions
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.fade-enter-from, .fade-leave-to {
  opacity: 0;
  transform: scale(0.9); // Slight scaling for smoother effect
}